<div class="cart-details">
    <h2>Your Cart</h2>
    <div *ngFor="let item of cartItems" class="cart-item">
      <div>{{ item.name }}</div>
      <div>{{ item.productType }}</div>
      <div>{{ item.unitPrice | currency }}</div>
      <div>
        <button (click)="decrementQuantity(item)">-</button>
        {{ item.quantity }}
        <button (click)="incrementQuantity(item)">+</button>
      </div>
      <div>
        <button (click)="removeItem(item)">Remove</button>
      </div>
    </div>
    <hr>
    <div>Total Quantity: {{ totalQuantity }}</div>
    <div>Total Price: {{ totalPrice | currency }}</div>
  </div>
  